<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css" />
    <link rel="stylesheet" href="/stylesheets/tags.css" />
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <title>Micro Twitter Client</title>
  </head>
  <body>
     <!-- Nav Bar -->
  <div class="row">
    <div class="large-12 columns">
      <h1>Welcome <small>This is a twitter micro client. It's awesome.</small></h1>
      <hr />
    </div>
  </div>
  <!-- End Nav -->
  <!-- Main Page Content and Sidebar -->
 <%= yield %>
  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Daniel Aguilar. The sky is the limit.</p>
        </div>
        <div class="large-6 columns">
        </div>
      </div>
    </div>
  </footer>
  </body>
  <script src="/js/modernizr.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/foundation.js"></script>
  <script src="/js/tags.js"></script>
  <script src="/js/application.js"></script>
</html>