<div class="row">
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
      <form action="/topics" method="post" role="form" id="topics_form" onsubmit="return validateForm()">
        <div class="row">
          <div class="large-8 columns">
            <div id="error_words" class="alert-box alert-error radius">
              Must enter 5 words.
            </div>
            <label id="insert_words">Insert words to search(hit enter to add a word)
              <input type="text"  name="topic[words]" id="topics_input" placeholder="Enter 5 words" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-8 columns">
            <label>Select How Many of the tweets you want to make favorite
              <select name="topic[quantity]" >
                <%(1..15).each do |n|%>
                  <option value="<%=n%>"><%=n%></option>
                <% end %>
              </select>
            </label>
          </div>
        </div>
        <button class="medium secondary button" id="submit_button">Submit</button>
      </form>
      <article>
        <div id="container">
          <% if flash and flash[:notice] %>
            <div data-alert class="alert-box info radius">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <script type="text/x-handlebars">
            {{outlet}}
          </script>
        </div>
      </article>
    </div>

<script type="text/x-handlebars" id="index">
 <h3><a href="#">How this works?</a></h3>
  <div class="row">
    <div class="large-8 columns">
      <p>Each hour we will look for tweets that contains at least one of your current words.</p>
      <p>Then the app will mark some of the tweets as favorite. The number of marked tweets depends on the number you selected.</p>
    </div>
  </div>
 </script>
<script type="text/x-handlebars" id="followers">
  <h4>Followers <small id="hovering"></small></h4>
  <ul class="small-block-grid-2 large-block-grid-8 followers-container panel">
    {{#each model}}
      <li><img {{bind-attr src=this.user_picture alt=this.user_name title=this.user_name}}/>
      </li>
    {{else}}
      <li> No Followers yet :(</li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" id="favorites">
  <h4>Favorites <small id="hovering"></small></h4>
  <div class="favorites-box small-12 columns">
    {{#each model}}
      <div class="row panel favorites-container">
        <div class="small-1 columns">
          <img {{bind-attr src=this.tweeted_by_user_picture alt=this.tweeted_by_username title=this.tweeted_by_username}}/>
        </div>
        <div class="small-11 columns favorites-text">
          {{this.body}}
        </div>
      </div>
    {{else}}
      <p> No Favorites yet :(</p>
    {{/each}}
  </div>
</script>
    <!-- End Main Content -->
    <!-- Sidebar -->
    <aside class="large-3 columns">
      <div class="panel">
        <ul class="side-nav">
          <% if @topics.empty? %>
            <li><a href="javascript:;" onclick="showForm()">You haven't enter any word, click here to start</a></li>
          <% else %>
            <li><a href="javascript:;" onclick="transitionTo('followers')">Followers</a>
            <li><a href="javascript:;" onclick="transitionTo('favorites')">Favorites</a>
            <li><a href="javascript:;" onclick="transitionTo('index')">Home</a>
            <li class="divider"></li>
            <h5>Current Words</h5>
            <% @topics.each do |topic| %>
              <li><a href="javascript:;"><%= topic.name %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </aside>
    <!-- End Sidebar -->
  </div>
  <!-- End Main Content and Sidebar -->